body {
    display: flex;
    height: 100vh;
    width: 100vh;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 0, 43);
}
.space {
    position: relative;
}
.sun {
    height: 400px;
    width: 400px;
    position: absolute;
    box-shadow: 0px 0px 50px 5px rgb(255, 159, 50);
    border-radius: 50%;
}
.orbit-mercury {
    height: 300px;
    align-items: center;
    position: absolute;
    top: 50px;
    left: 50%;
    animation: orbit 1.5s linear infinite;
}
.mercury {
    height: 20px;
    width: 20px;
    position: absolute;
    box-shadow: 0px 0px 5px 2px silver;
    border-radius: 50%;  
    top: 0;
    left: 70%;
}
.orbit-venus {
    height: 400px;
    position: absolute;
    top: 0px;
    left: 50%;
    animation: orbit 2s linear infinite;
}
.venus {
    height: 35px;
    width: 35px;
    position: absolute;
    box-shadow: 0 0 10px 5px rgb(252, 217, 61);
    border-radius: 50%;
    top: 0;
    left: 70%;
}
.orbit-earth {
    height: 480px;    
    position: absolute;
    top: -40px;
    left: 50%;
    animation: orbit 4s linear infinite;
}

.earth{
    height: 40px;
    width: 40px;
    box-shadow: 0 0 15px 7.5px rgb(100, 100, 255);
    position: absolute;
    border-radius: 50%;
    top: 0;
    left: 70%; 
}

.orbit-mars {
    height: 580px;
    position: absolute;   
    top: -100px;
    left: 50%;
    animation: orbit 3s linear infinite;
}
.mars {
    height: 30px;
    width: 30px;
    position: absolute;
    box-shadow: 0 0 10px 7px rgb(209, 66, 0);
    border-radius: 50%;
    left: 50%;
}

.orbit-jupiter {
    height: 800px;
    position: absolute;
    top: -200px;
    left: 50%;
    animation: orbit 8s linear infinite;
}
.jupiter {
    height: 120px;
    width: 120px;
    position: absolute;
    box-shadow: 0 0 20px 10px rgb(163, 129, 55);
    border-radius: 50%;
    top: 0;
    left: 100%
}

.orbit-saturn {
    height: 1050px;
    position: absolute;
    top: -320px;
    left: 50%;
    animation: orbit 8.5s linear infinite;
}

.saturn {
    height: 75px;
    width: 75px;
    position: absolute;
    box-shadow: 0 0 20px 10px rgb(126, 114, 114);
    border-radius: 50%;
    top: 0;
    left: 100%
}

.orbit-uranus {
    height: 1250px;
    position: absolute;
    top: -420px;
    left: 50%;
    animation: orbit 10s linear infinite;
}

.uranus {
    height: 65px;
    width: 65px;
    position: absolute;
    box-shadow: 0 0 20px 10px rgb(230, 230, 230);
    border-radius: 50%;
    top: 0;
    left: 100%
}

.orbit-neptun {
    height: 1400px;
    position: absolute;
    top: -500px;
    left: 50%;
    animation: orbit 11s linear infinite;
}

.neptun {
    height: 55px;
    width: 55px;
    position: absolute;
    box-shadow: 0 0 10px 5px rgb(14, 207, 255);
    border-radius: 50%;
    top: 0;
    left: 100%
}

@keyframes orbit {
    0% {
        transform: rotate(0deg) translate(-50%, -50%);
    }
    100% {
        transform: rotate(360deg) translate(-50%, -50%);
    }
    
}
